@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or tailwind.css */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in WebKit browsers (Chrome, Safari) */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer and Edge */
    scrollbar-width: none; /* Hides the scrollbar in Firefox */
  }
  